import json
import logging

logger = logging.getLogger()
logger.setLevel(logging.INFO)


def handler(event, context):
    """Serverless function handler for <project-name>"""
    logger.info('Event: %s', json.dumps(event, indent=2))
    logger.info('Context: %s', json.dumps(context.__dict__ if hasattr(context, '__dict__') else str(context), indent=2))
    
    return {
        'statusCode': 200,
        'body': 'Hello World!',
    }
