import pytest
from src.main.index import handler


def test_handler():
    """Test serverless function handler"""
    event = {}
    context = {}
    result = handler(event, context)
    
    assert result['statusCode'] == 200
    assert result['body'] == 'Hello World!'
